{% extends 'base1.html' %}


{% block head %}
<title>Autores</title>
{% endblock %}


{% block body %}

<center><img src="{{url_for('static', filename='ap.png')}}" align="middle" /></center>
<center><h5>André Pereira</h5></center><br><br>
<h3>Biografia</h3><br>

<ul><p><b>Idade:</b>&nbsp;21</p>
	<p><b>Contacto:</b>&nbsp;a83774@alunos.uminho.pt</p>
	<p><b>Curso:</b>&nbsp;MIEBIOM Ramo de Informática Médica</p>
	<p><b>Cidade:</b>&nbsp;Braga</p>
	<p><b>Percurso Académico:</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colégio Teresiano</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escola Secundária Carlos Amarante</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Universidade do Minho</p>
	<p><b>Hobbies:</b>&nbsp;Jogar e ver futebol, ver séries, ouvir música e videojogos (LOL e CS) </p>
		
	
</ul>
<br><br>

<center><img src="{{url_for('static', filename='jr.png')}}" align="middle" /></center>
<center><h5>João Eira </h5></center><br><br>
<h3>Biografia</h3><br>

<ul><p><b>Idade:</b>&nbsp;21</p>
	<p><b>Contacto:</b>&nbsp;a83553@alunos.uminho.pt</p>
	<p><b>Curso:</b>&nbsp;MIEBIOM Ramo de Informática Médica</p>
	<p><b>Cidade:</b>&nbsp;Braga</p>
	<p><b>Percurso Académico:</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escola da Sé</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EB2/3 de Real</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escola Secundária Carlos Amarante</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Universidade do Minho</p>
	<p><b>Hobbies:</b>&nbsp;Jogar poker, xadrez, ouvir música e praticar canoagem</p>
			
</ul>

<br><br>

<center><img src="{{url_for('static', filename='js.png')}}" align="middle" /></center>
<center><h5>João Santos</h5></center><br><br>
<h3>Biografia</h3><br>

<ul><p><b>Idade:</b>&nbsp;21</p>
	<p><b>Contacto:</b>&nbsp;a83928@alunos.uminho.pt</p>
	<p><b>Curso:</b>&nbsp;MIEBIOM Ramo de Informática Médica</p>
	<p><b>Cidade:</b>&nbsp;Braga</p>
	<p><b>Percurso Académico:</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colégio Nossa Senhora das Graças</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EB2/3 de Real</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Externato Carvalho Araújo</p><p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Universidade do Minho</p>
	<p><b>Hobbies:</b>&nbsp;Jogar e ver futebol, videojogos (CS e FIFA), ouvir música</p>
		
	
</ul>


{% endblock %}